body {
	background-color: #232323;
	text-align: center;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15px;
	background-color: #232323;
}

.selected {
	background-color: gray;
}

#gameTitle {
	background-color: rgb(20, 74, 160);
	color: white;
}

